/* Set font size for HTML and body */
html, body {
    font-size: 16px;
}

/* Set paragraph text weight */
p {
    font-weight: 400;
    line-height: 1.4em;
}

/* Set h1 weight and style */
h1 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

/* Set h2 weight and style */
h2 {
    font-weight: 500;
    text-align: left;
    padding-top: 15px;
}

/* Set address text alignment */
address {
    text-align: center;
}

/* Style for website URL */
a {
    font-weight: bold;
    font-size: 1.25em;
    color: #4F3674;
    text-decoration: none; /* Remove underline */
}

/* Hover and visited pseudo classes for website link */
a:hover {
    text-decoration: underline; /* Underline on hover */
    background-color: #D6A800; /* Background color on hover */
}

a:visited {
    /* Add your styling for visited links here */
}

/* Apply italic font style to sentence class */
.sentence {
    font-style: italic;
}

/* Indent the first paragraph */
.intro {
    text-indent: 2em;
}
